################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Education_System/.vs/Education_System/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/Education_System/.vs/Education_System/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/Education_System/.vs/Education_System/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/Education_System/.vs/Education_System/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
*.vsidx
/Education_System/.vs/Education_System/FileContentIndex/499b1156-af92-4f06-a056-168fa67b6e21.vsidx
/Education_System/.vs/Education_System/FileContentIndex/a6dc1980-cc7b-4aaa-a97b-1bd0ef313f15.vsidx
/Education_System/.vs/Education_System/FileContentIndex/d7288101-2b60-4b56-9c01-4e6948091beb.vsidx
